@font-face {
  font-family: 'Lato';
  src: local('Lato-Regular'), local('Lato-Regular'),
  url('~@/assets/fonts/Lato-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato-SemiBold'), local('Lato-SemiBold'),
  url('~@/assets/fonts/Lato-SemiBold.woff2') format('woff2'),
  url('~@/assets/fonts/Lato-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Bold'), local('Lato-Bold'),
  url('~@/assets/fonts/Lato-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
}

body {
  font-family: $main-font;
  background-color: #272733;
}

a{
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

body.nav-open {
  overflow: hidden;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
}


